@model Categoria

@{
    ViewData["Title"]="Categoria";
}

<h1>Crear Categoría</h1>
<h5>La Categoría nos permite indicar en qué gastamos nuestro dinero,
    y también de donde provienen nuestros ingresos
</h5>

<form asp-action="CrearCategoria">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="Nombre"></label>
        <input type="text" asp-for="Nombre" class="form-control"/>
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>
    
    <div class="mb-3">
        <label asp-for="TipoOperacionId"></label>
        <select asp-for="TipoOperacionId" asp-items="Html.GetEnumSelectList<TipoOperacion>()" class="form-select"></select>
        <span asp-validation-for="TipoOperacionId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary my-3">Crear</button>
    <a class="btn btn-secondary" asp-action="Index">Cancelar</a>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial"/>
}