@{
    ViewData["Title"] = "No encontrado";
}

<h1>El recurso solicitado No ha sido encontrado</h1>

<a 
    asp-action="Index"
    class="nav nav-link"
    >
    Click Aquí para regresar al Home
</a>