@model IEnumerable<TipoCuenta>

@{
    ViewData["Title"] = "Tipos Cuentas";
}

<h1>Tipos de cuentas</h1>
<h5>El tipo de cuenta se refiere a como podemos agrupar cuentas. Ejemplo: Préstamos, tarjetas de crédito, etc.</h5>

    <a class="btn btn-success my-1" asp-action="Crear">Crear</a>
    
    <table class="table">
        <thead>
            <tr>
                <th>Acciones</th>
                <th>Nombre</th>
            </tr>
        </thead>
        
        <tbody>
            @foreach (var tipoCuenta in Model)
            {
                <tr>
                    <td>
                        @* <a class="btn btn-outline-secondary">Editar</a> *@
                        <a class="btn btn-primary">Editar</a>
                        <a class="btn btn-danger">Borrar</a>
                    </td>
                    <td>
                        @tipoCuenta.Nombre
                    </td>
                </tr>
            }
        </tbody>
    </table>